body{
    background: rgb(161, 161, 161);
}

.container{
    background: rgb(119, 119, 119);
    width: 500px;
    height: 100%;
    border-radius: 25px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1{
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

input{
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    width: 400px;
}

button{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    border: 2px solid #fff;
    background-color: green;
    color: #fff;
    margin: 10px auto;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 107, 0);
}

p{
 
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:15px auto;
}

#container-resultado{
    background-color: rgb(83, 83, 83);
    width: 100%;
    display: none;
    flex-direction: column;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}